.DS_Store
*.swp
*.swo
*.pyc
*.log

scripts/

# Local Environment Variables
# .env

# Python Dependencies
env/
venv/

# Frontend Dependencies (CSS/JS/etc)
tropheo/static/
bower_components/

.ebextensions/