.DS_Store
*.swp
*.swo
*.pyc
*.log

logs/
scripts/

# Python Dependencies
env/
venv/

# Frontend Dependencies (CSS/JS/etc)
static/
bower_components/

# Ignore all example or unused config files
.ebextensions/*
!.ebextensions/*.config

