.DS_Store
*.swp
*.swo
*.pyc
*.log
*.sqlite3

data/
logs/
scripts/

env/
venv/
bower_components/

tropheo/static/
playstation/migrations/

fuckgenres.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# .ebextensions/
