option_settings:
  - option_name: SECRET_KEY
    value: placeholder-value-change-me
  - option_name: DATABASE_NAME
    value: placeholder-value-change-me
  - option_name: DATABASE_HOST
    value: placeholder-value-change-me
  - option_name: DATABASE_PASSWORD
    value: placeholder-value-change-me
  - option_name: DATABASE_USERNAME
    value: placeholder-value-change-me
  - option_name: ENV_URL
    value: placeholder-value-change-me